body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1em;
}

main{
    display: flex;
    justify-content: flex-start;
    gap: 1em;
}
header {
    background-color: #ffcc00;
    height: 150px;
}

aside {
    background-color: #9b59b6;
    height: 300px;
    width: 300px;
}

section {
    display: flex;
    flex-grow: 1;
    background-color: #1abc9c;
    height: 300px;
    width: 876px;
}

footer {
    background-color: #e74c3c;
    height: 100px;
}