 *{
    background-color: rgb(186, 215, 238);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 3px;
    margin: 5px;
 }
 h2{
   font-size: 56px;
 }
 header{
  background-image: linear-gradient(rgba(249, 13, 13, 0.5), rgba(245, 253, 0, 0.5));
 }


